.slide-footer-image {
  text-decoration: none;
}

.slide-footer-text {
  vertical-align: top;
}

{
  font-size: 100%
}

article {
    background-color: blue;
}

article h1 {
    color: red;
}

article h2 {
    color: red;
}

article h3 {
    color: red;
}

.center {
    text-align: center;
}

